<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rocket.phase1.ground.audience.AudienceMapper">
    <select id="selectAudience" resultType="person">
        select * from mybatis.person;
    </select>
</mapper>